body {
  font-family: "Lato";
  background: white;
  height: 100vh;
  line-height: 1;
}

.container {
  min-width: 640px;
}

.hero {
  padding: 15px 50px;
  padding-bottom: 0;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -1.5px;
}

.hero p {
  margin-bottom: 20px;
}

.hero a {
  color: inherit;
  text-decoration: none;
}

.hero .fa {
  margin-right: 5px;
  font-size: 55px;
  color: #336699;
}

.hero .strong {
  font-weight: 300;
}

.hero .weak {
  font-weight: 100;
  color: #ff5700;
}

.content {
  padding: 20px 50px;
  padding-top: 0;
  margin: 0;
}

.meta {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 300;
}

/*.heading, .sub-heading {
  white-space: nowrap;
  overflow: hidden;
}*/

.meta .heading p {
  font-size: 23px;
  margin-bottom: 5px;
  display: inline-block;
  line-height: 30px;
}

.meta .title {
  margin-right: 5px;
}

.meta .subreddit {
  font-weight: 100;
  font-style: italic;
}

.meta .sub-heading p {
  margin-bottom: 5px;
  display: inline-block;
}


.meta .sub-heading p:not(:last-child):after {
  content: ' | ';
}

.meta a {
  color: inherit;
  text-decoration: none;
  transition: border 0.2s ease;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.meta a:hover {
  border-bottom: 1px solid #ff5700; 
}

.meta .poster a {
  font-weight: 400;
}

.content .video {
  transition: all 0.2s ease;
  text-align: center;
}

.content .video iframe {
  width: 900px !important;
  height: 506px !important;
}

.content .btns {
  text-align: center;
}

a.btn {
  margin-top: 30px;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.5625em 1.5em;
}

a.btn {
  color: #336699;
  border-color: #336699;
}

a.btn:hover {
  background: #336699;
  color: #fff;
}

/*a.btn.next {
  color: #336699;
  border-color: #336699;
}

a.btn.next:hover {
  background: #336699;
  color: #fff;
}*/

/*a.btn.rand {

}

a.btn.rand:hover {

}*/
