@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url('styles/colors.css');

* {
  font-family: 'Lato';
  font-weight: 300;
  transition: .2s ease all;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
