<div class="hero">
  <p><i class="fa fa-reddit-alien"></i> <span class="strong"><a href="/">seenit</a></span> <span class="weak">for <a href="http://reddit.com" target="_blank">reddit</a></span></p>
</div>
<div class="content">
  <div class="meta" ng-show="video.permalink != null">
    <div class="heading">
      <!-- <p class="subreddit">
        <a href="http://reddit.com/r/{{ video.subreddit }}" target="_blank">/r/{{ video.subreddit }}</a>
      </p> -->
      <p class="title">
        <a href="http://reddit.com{{ video.permalink }}" target="_blank">{{ video.title }}</a>
      </p>
    </div>
    <div class="sub-heading">
      <p class="poster">
        <i>Submitted by</i> <a href="http://reddit.com/u/{{ video.author }}" target="_blank">{{ video.author }}</a> <span am-time-ago="video.created_utc | amFromUnix"></span>
      </p>
      <p class="upvotes" title="{{ video.score }} upvote(s)">
        <i class="fa fa-thumbs-o-up"></i> {{ video.score }}
      </p>
      <p class="comments">
        <i class="fa fa-comments-o"></i> <a href="http://reddit.com{{ video.permalink }}" title="{{ video.num_comments }} comment(s)" target="_blank">{{ video.num_comments }}</a>
      </p>
    </div>
  </div>
  <div class="video">
    <div ng-bind-html="video.media_embed.content | sanitize"></div>
  </div>
  <div class="btns">
    <a class="btn next" href="#" ng-show="video.permalink != null" ng-click="next()">Next</a>
    <a class="btn rand" href="#" ng-show="video.permalink != null" ng-click="rand()">Random</a>
  </div>
</div>
